go 1.25.0

use (
	./common
	./dal
	./services/activity
	./services/audit
	./services/auths
	./services/carts
	./services/checkout
	./services/coupons
	./services/gateway
	./services/inventory
	./services/order
	./services/payment
	./services/product
	./services/system
	./services/users
)
